<div class="post">
  <div class="header">
    <h1>Title</h1>

    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>
  <div class="info">
    <strong>Author name</strong>
    <small>12.09.2019</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eius eveniet libero minus quasi recusandae ut vero voluptas! Accusamus, commodi cum delectus dicta dolor, ducimus esse expedita inventore perferendis provident qui quia, quis reprehenderit sapiente voluptatibus! Aliquam dicta dolorum eos explicabo id iure labore, natus perferendis quos sint velit voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eius eveniet libero minus quasi recusandae ut vero voluptas! Accusamus, commodi cum delectus dicta dolor, ducimus esse expedita inventore perferendis provident qui quia, quis reprehenderit sapiente voluptatibus! Aliquam dicta dolorum eos explicabo id iure labore, natus perferendis quos sint velit voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eius eveniet libero minus quasi recusandae ut vero voluptas! Accusamus, commodi cum delectus dicta dolor, ducimus esse expedita inventore perferendis provident qui quia, quis reprehenderit sapiente voluptatibus! Aliquam dicta dolorum eos explicabo id iure labore, natus perferendis quos sint velit voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eius eveniet libero minus quasi recusandae ut vero voluptas! Accusamus, commodi cum delectus dicta dolor, ducimus esse expedita inventore perferendis provident qui quia, quis reprehenderit sapiente voluptatibus! Aliquam dicta dolorum eos explicabo id iure labore, natus perferendis quos sint velit voluptate.</p>
  </div>
</div>
